@page
@model SupermarketWeb.Pages.Customers.CreateModel
@{
}
<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="Customer.document_number" class="control-label"></label>
				<input asp-for="Customer.document_number" class="form-control" type="number" />
				<span asp-validation-for="Customer.document_number" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Customer.firts_name" class="control-label"></label>
				<input asp-for="Customer.firts_name" class="form-control" />
				<span asp-validation-for="Customer.firts_name" class="text-danger"></span>
				<l
			</div>
			<div class="form-group">
				<label asp-for="Customer.last_name" class="control-label"></label>
				<input asp-for="Customer.last_name" class="form-control" />
				<span asp-validation-for="Customer.last_name" class="text-danger"></span>
				<label asp-for="Customer.address" class="control-label"></label>
				<input asp-for="Customer.address" class="form-control" />
				<span asp-validation-for="Customer.address" class="text-danger"></span>
				<label asp-for="Customer.birthday" class="control-label"></label>
				<input asp-for="Customer.birthday" class="form-control" />
				<span asp-validation-for="Customer.birthday" class="text-danger"></span>
				<label asp-for="Customer.phone_numbers" class="control-label"></label>
				<input asp-for="Customer.phone_numbers" class="form-control" />
				<span asp-validation-for="Customer.email" class="text-danger"></span>
				<label asp-for="Customer.email" class="control-label"></label>
				<input asp-for="Customer.email" class="form-control" />
				<span asp-validation-for="Customer.email" class="text-danger"></span>




			</div>
			<div class="form-group mt-3">
				<input type="submit" value="Create" class="btn btn-success" />
				<a asp-page="Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
